*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 15px;
    line-height: 1.5;
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.products-container .product-item-wrapper{
    width: 32%;
    height: 400px;
}

.product-item-wrapper img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.product-item-wrapper{
 padding: 15px;
 border: 2px solid rgb(220, 220, 20);
 background-color: rgb(212, 0, 255);
}

.product-item-wrapper .product-title{
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

.product-item-wrapper .product-price{
    font-size: 30px;
    font-weight: bolder;
    color: #fff;
}

.product-item-wrapper .product-desc{
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 18px;
    color: #060606;
    font-weight: bold;
}

.load-more-btn{
    padding: 10px 30px;
    border: none;
    background-color: rgb(255, 255, 119);
    font-size: 25px;
    cursor: pointer;
    margin-top: 30px;

}

.load-more-btn:disabled {
    cursor: not-allowed;
    
}
