*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 0px 25px;
}

.top-section{
    position: fixed;
    top: 0px;
    z-index: 1;
    width: 100%;
    background-color: rgb(248, 228, 184);
    padding: 10px 0px;
}

.top-section h1 {
    text-align: center;
}

.progress-container{
    width: 100%;
    height: 10px;
    background-color: rgb(0, 9, 6);
}

.progress-bar{
    height: 10px;
    background-color: yellow;
    width: 0%;
}

.posts-container{
    margin: 40px auto 0px auto;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.post-item-wrapper{
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 2px solid black;
    color: #fff;
    background: linear-gradient(90deg, rgb(32, 59, 19), rgb(255, 0, 119));
}