* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 15px;
}

h1 {
    font-size: 40px;
    margin-bottom: 30px;
}

.posts-list-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.post-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid rgb(0, 255, 98);
    padding: 10px;
    background-color: rgb(86, 14, 164);
}

.post-item h3 {
    color: #fff;
    font-size: 20px;
}

.post-item p{
    font-size: 18px;
    color: #fff;
}