
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 15px;
}

.filter-buttons-wrapper {
    display: flex;
    gap: 10px;
    margin: 20px 0px;
}

.filter-buttons-wrapper button {
    padding: 12px 20px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    background-color: rgb(255, 157, 0);
    cursor: pointer;
}

.content-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.content-wrapper .card {
    width: 32%;
    padding: 30px;
    background-color: rgb(0, 251, 255);
    font-size: 30px;
}





.hide {
    display: none;
}