*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 0px 15px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background-color: #ddd;
}

h1 {
font-size: 50px;
font-weight: bolder;
}

.form-wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(143, 8, 170);
    padding: 20px;
    border-radius: 12px;

    color: #ffffff;
}

.input-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.input-wrapper label , .result-wrapper label {
    font-size: 20px;
}

button {
    padding: 12px 20px;
    border: none;
    background-color: rgb(211, 211, 50);
    font-size: 20px;
    cursor: pointer;
    color: #000000;
    letter-spacing: 2px;
}

