* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.modal-background {
  display: none;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.modal {
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  animation-name: animateModal;
  animation-duration: .5s;
}



@keyframes animateModal {
    from {
        top: -200px;
        opacity: 0;
    }

    to {
        top: 50%;
        opacity: 1;
    }
}

button{
    padding: 10px 20px;
    border: none;
    background-color: yellow;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
body {
    text-align: center;
}
