*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    background-color: #d4dbea;
}

h1{
    font-size: 50px;
    color: rgb(115, 0, 255);
    margin-bottom: 40px;
}

.button-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.button-wrapper button {
    border: none;
    padding: 12px 20px;
    background-color: #073dab;
    color: #fff;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 18px;
    cursor: pointer;
}

.button-wrapper button.active {
    background-color: #000;
}

.content{
    display: none;
    font-size: 20px;
    font-weight: bolder;
    margin-top: 50px;
}

.content.active {
    display: block;
}
