*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 20px;
    font-size: 20px;
}

.random-color-generator-container{
    display: flex;
    gap: 10px;
}

.hex-color-container, .rgb-color-container{
    min-height: 100vh;
    flex: 1;
}

.hex-color-container button {
    padding: 12px 20px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(230, 246, 127);
}

.rgb-color-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hex-color-container {
    background-color: green;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.hex-color-value , .rgb-color-value {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}

.rgb-color-container {
    background-color: rgb(0, 255, 247);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rgb-color-container button {
    padding: 12px 20px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(208, 48, 125);   
    color: #fff;
}